

.main-member {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10rem;
}

.main-member aside {
  border: 1px solid #CCC;
  width: 400px;
  /* background-color: #ccc; */
  text-align: center;
}

.main-member aside .function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-member aside .function h3 {
  font-size: 24px;
  margin:50px;
  font-weight: bolder;
}

.main-member aside .function .item:last-child {
  margin-top: 125px;
}

.main-member aside .function .item img {
  vertical-align: bottom;
}

.main-member aside .function .item img:hover {
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-member aside .function .item a button {
  border: 1px solid #ccc;
  width: 200px;
  margin: 5px auto;
  padding: 10px;
  border-radius: 10px;
  font-weight: bolder;
}

.main-member aside .function .item a button:focus {
  outline: none;
}

.main-member aside .function .item a button:hover {
  background-color: #aac0cf;
}

.main-member aside .function .item a button:hover span {
  padding-right: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-member aside .function .item a button:hover span:after {
  opacity: 1;
}

.main-member aside .function .item a button span {
  position: relative;
}

.main-member aside .function .item a button span::after {
  content: '➜';
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  right: -10px;
  font-weight: bold;
}

.main-member aside .function label {
  padding: 10px 0;
  font-size: 13px;
  font-weight: bolder;
}

.main-member main {
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
}

.main-member main .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

.main-member main .info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
}

.main-member main .info div h3 {
  width: 100px;
  font-weight: bold;
   padding: 20px 0;
  padding: 5px 10px;
}

.main-member main .info div label {
  width: 200px;
}

.main-member main .info div button {
  background-color: #ccc;
  font-size: 50px;
  border: none;
}

/*** addClass 類別使用 ****/
.liColor {
  background-color: rgba(206, 16, 16, 0.5);
}

.wrapper {
  /* border: 1px solid red; */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; 
}
.inner {
  padding: 20px;
  background: #fff;
  width: 85%;
  margin: 0 auto;
  display: flex; 
}
.inner .image-holder {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-holder img{
  /* border: 1px solid red; */
  width: 400px;

  vertical-align: bottom;
}
.inner form {
  /* border: 1px solid red; */
  width: 100%;
  padding: 20px;
}
.inner h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 28px; 
}
.form-wrapper {
  position: relative; 
  padding: 10px ;

}
.form-wrapper i {
  position: absolute;
  top: 20px;
  right: 10px;
}

.form-control {
  border: 1px solid rgb(8, 8, 8);
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 25px; 
}

select {
  cursor: pointer;
  /* padding-left: 20px;  */
}
select option[value=""][disabled] {
  display: none; 
}

.button-submit {
  border: none;
  width: 164px;
  height: 51px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  font-size: 15px;
  color: #fff;
  vertical-align: middle;
}
button i {
  margin-left: 10px;
}

