


/* 商家註冊頁面開始 */

input, textarea, select, button {
  color: #333;
  font-size: 13px; 
}
p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; 
}

ul {
  padding-left: 0;
  margin-bottom: 0; 
}
a:hover {
  text-decoration: none; 
}

:focus {
  outline: none; 
}
.wrapper {
/*   border: 1px solid red; */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; 
}
.inner {
  position:relative;
  padding: 20px;
  background: #fff;
  width: 70%;
  margin: 0 auto;
  display: flex; 
}
.inner .image-holder {
/*   border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-holder img{
/*   border: 1px solid red; */
  width: 400px;

  vertical-align: bottom;
}
.inner form {
/*   border: 1px solid red; */
  width: 100%;
  padding: 20px;
}
.inner h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 28px; 
}
.form-wrapper {
  position: relative; 
  padding: 10px 150px;

}
.form-wrapper i {
  position: absolute;
  top: 20px;
  right: 150px;
}

.form-control {
  border: 1px solid rgb(8, 8, 8);
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 25px; 
}

select {
  cursor: pointer;
  /* padding-left: 20px;  */
}
select option[value=""][disabled] {
  display: none; 
}

.button-submit {
  border: none;
  width: 164px;
  height: 51px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  font-size: 15px;
  color: #fff;
  vertical-align: middle;
}
button i {
  margin-left: 10px;
}

/* 一鍵輸入按鈕樣式 */
#inputAllBtn{
	position: absolute;
    right: 45%;
    width: 105px;
    padding: 0;

}

 
/* 商家註冊頁面結束 */





