*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body { 
    background-image: url(../images_2/background_shop.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: ‘Noto Sans TC’, sans-serif;
    margin: 0 auto;
}
/* .clearfix{
    clear: both;
} */
#header_container{
    max-width: 100%;
    height: 100px;
    background: purple;
}
.header_image>img{
    max-width: 100%;
}

/* 商品標頭 */
.new_container{
    /* background: #aaaaaa; */
    margin: 50px 0;
    padding: 10px 0;
}
.new_product{
    padding: 10px 0;
    text-align: center;
    /* background: #cccccc; */
}
.new_product h1{
    position: relative;
    display: inline-block;
    letter-spacing: 8px;
    color: #777777;
}
.new_product h1::before{
    content: "";
    position: absolute;
    background: url(../images_2/左邊中括號.png) no-repeat;
    width: 30px;
    height: 45px;
    top: -5px;
    left: -40px;
    background-size: contain;
    opacity: 0.5;
}
.new_product h1::after{
    content: "";
    position: absolute;
    background: url(../images_2/右邊中括號.png) no-repeat;
    width: 30px;
    height: 45px;
    top: -5px;
    right: -40px;
    background-size: contain;
    opacity: 0.5;
}

#main{
    margin-top: 500px;
    width: 80%;
    margin: 0 auto;
}
/* 商品大區塊 */
.shoppingArea{
    position: relative;
    display: flex;
}

/* 左半邊 */
aside{
    /* background: green; */
    position: absolute;
    left: 0;
    width: 20%;
    /* float: left; */
   
}
.left_container{
    background: #EDD9D9;
    padding-top: 15px;
    height: auto;
    border-radius: 5px;
    
}
.onlineShop{
    text-align: center;
    background: #C39C9C;
    width: 80%;
    margin: 0 auto;
    padding-top: 5px;
    color: #ffffff;
}
.items{
    padding: 30px 0;
    margin-left: 20px;
}
.items a{
    color: #333333;
    text-decoration: none;
    letter-spacing: 6px;
    transition: .5s;
}
.items a:hover{
    border-radius: 5px;
    background: #ffffff;
    opacity: 0.6;
}
.hr{
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid rgba(255,255,255,.6);
}

/* 右半邊 */
.right_container{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    right: 0;
    width: 73%;
    padding-top: 30px;
    background: #EDD9D9;
    border-radius: 5px;
}
.product_contianer{
    display: flex;
    /* float: left; */
    height: 480px;
    padding-left:34px;
}
.product_image{
    width: 200px;
    /* height: 150px; */

}
.product_image img{
	display:block ;
	width:100% ;  /* 寬度跟容器一樣 */
	height:auto ;  /* 因每個瀏覽器可能都不太一樣，所以高度也需要設定 */
}
.product_items{
    position: relative;
}
.product_items img:hover{
    transition: 0.7s ease;
    opacity: 0.8;
}
.product_items div.product_image:nth-child(2){
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.product_items div.product_image:nth-child(2) a{
    height: 100%;
    opacity: 1;
    transition: opacity 1.35s ease-in-out 0s;
    width: 100%;
    z-index: 100;
    background-color: #EDD9D9;
    display: block;
}
.product_items div.product_image:nth-child(2) a:hover{
    opacity: 0;
}
.product_name{
    height: 40px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.product_name a{
    color: #444444;
    letter-spacing: 3px;
    font-size: 18px;
}
.product_price{
    text-align: center;
    margin-bottom: 10px;
}
.product_price span{
    letter-spacing: 2px;
    color: #BE5555;
}
.product_count{
    text-align: center;
    padding-bottom: 10px;
}
.product_count span{
    letter-spacing: 3px;
    color: #555555;
    font-size: 15px;
}
.product_count select{  
    color: #aaaaaa;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    width: 154px;
    padding: 2px 0;
}
.product_count select option{
    color: #aaa;
}
.cartBtn{
    width: 200px;
    text-align: center;
    background:rgba(210,179,179,0.6);
    margin: 0 auto;
    border-radius: 3px;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 2px;
    padding: 5px;
    transition: .8s;
}
.cartBtn:hover{
    background: #d2b3b3;
    color: #555555;
}

