
.administrator{
    margin-top: 250px;
    display: flex;
}

/* status */
.status {
    width: 700px;
    height: 150px;
    border: 2px solid #aaa;
    border-radius: 20px;
    margin-left: 30px;
    margin-bottom: 2rem;
}
.status-nav {
    /* border: 1px solid #fff; */
    /* justify-content: flex-end; */
    display: flex;
}
.status-nav a {
    /* border: 1px solid #333; */
    padding-right: 10px;
    margin-top: 5px;
    transition: .5s;
}
.status-nav a:hover {
    color: red;
    font-weight: bold;
}
.status-nav .space{
   flex-grow: 1;
   /* flex: 1; */
}
.status hr {
    margin: 1px;
}
.status h3 {
    border: 1px solid #fff;
    margin: 5px;
    padding-left: 20px;
}
.status a {
    color: #333;
    padding-left: 20px;
}
.status {
	overflow: hidden;
}
.status1 {
	overflow: hidden;
	height: fit-content;
}