*,  *::before, *::after {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}
body{
    height: 1000px;
}
/* 購物車介面  標頭*/
.cart_container{
    position: relative;

}
.side_cart{
    background: #fff;
    position: fixed;
    width: 360px;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 999;
    transform: translateX(100%);  /*向右邊隱藏全部的購物車*/
    transition: .25s linear;
    box-shadow: -1px 0 5px #ccc;
}

.title{
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    color: #444;
    letter-spacing: 3px;
    padding: 30px 10px;
    margin: 20px 0;

}
.title::after{
    content: '';
    position: absolute;
    border-bottom: 1px solid #444;
    left: 20px;
    right: 20px;
    bottom: 0;

}
.title span{
    position: absolute;
    margin-left: 5px;
    display: inline-block;
    background: #C39C9C;
    font-size: 1rem;
    width: 25px;
    height: 25px;
    line-height: 25px;  /*文字上下置中*/
    border-radius: 50%;
}
.carCancelBtn{
    color: #555;
    position: absolute;
    padding: 30px 0 0 20px;
}
.cancelBtn{
    color: #777;
} 

/* 購物車介面  items*/
.side_cart #item_box{
    position: relative;
    height: 530px;
    /* overflow: hidden; */
}
/* 每一個產品 */
.carItem{
    display: flex;
    justify-content: space-between; /*懶惰方法，直接讓每個元素都等距，也不會跑版*/
    height: 150px;
    padding: 15px 20px 20px 30px;
    border-bottom: 1px solid #ddd;
}
.carItem .pic{
    width: 20%;
}
.carItem .pic img{
    width: 100%;
    height:80px;
}
.text_box{
    width: 55%;  /*讓寬度固定為父層的40%，即使產品名稱很長也不會跑版*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text_box .name a {
	font-size: 1.1rem;
    color: black;
    letter-spacing:2px;
}
.text_box .count select{
    width: 50%;
    outline: none;
    padding: 3px 0;
    border-radius: 3px;
    border: 1px #ccc solid;
    color: #555;
}
.text_box .showCount{
	color: black;
}
.text_box .price{
    font-size: 1.1rem;
    font-weight: 900;
    letter-spacing: 1px;
    color:#BE5555;
}
.cancelBtn .deleteLink{
	transition: .15s linear;
	color:#aaa;
	
}
.cancelBtn .deleteLink:hover{
	font-size:1.1rem;
	color:#555;
}

/* 卷軸 */
.scrollArea{
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 1;
    top: 127.2px ;
    left: 348px;
    opacity: 0;
}
.scrollArea .enscroll{
    position: relative;
    height: 530px;
   
}
.track3{
    width: 10px;
    /* background: #555; */
    border-radius: 10px;
    margin-right: 2px;
    background: rgba(0,0,0,0);
    transition: .1s;
}
.scrollArea .enscroll .controller{
    /* background: pink; */
    position: absolute;
    z-index: 1;
    height: 400px;  /*卷軸長度越長，滾動次數越少*/
    top:0; 
    
}
.handle3{
    width: 7px;
    right: 0;
    border-radius: 7px;
    background: rgba(0,0,0,.5);
    transition: width .05s;
    padding: 0;
}
/* 設定下在a標籤裡面，這樣整塊都可以點選，而不是只有文字可點擊 */
.buyBtn a{
    display: block;
    position: absolute;
    text-align: center;
    height: 63.6px;
    width: 100%;
    bottom: 0;
    line-height: 63.6px;
    background: #EDD9D9;
    box-shadow: 2px 1px 5px #e2b9b6;
    color: #555;
    font-size: 1.2rem;
    letter-spacing: 3px;
    font-weight: 600;
}
/* 側邊按鈕 */
.side_cart label{
    position: absolute;
    width: 30px;
    height: 45px;
    border-radius: 50px;
    background-color:rgba(255,255,255,.5) ;
    box-shadow: -1px 2px 3px #ccc;
    color: rgba(80, 78, 78,.6);
    left:-33px;
    /* 這三個屬性加起來垂直居中(top:0;bottom:0;margin:auto) */
    top: 30%;  
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
/* checkbox 按鈕隱藏 */
#side_menu_switch{
    position: absolute; /*設定絕對定位不占空間*/
    opacity: 0;
    z-index: -1;
    
}
/*當checkbox被點選的時候(label的for 對應到 checkout的id)，購物車會跑出來*/
#side_menu_switch:checked + .side_cart{
    transform: translateX(0px); 
}

/*數量提示*/
#count_circle{
	display:inline-block;
/* 	width:20px; */
/* 	height:20px; */
	border-radius:50%;
	z-index: 999;
    position: absolute;
    left: -40px;
    top: 29%;
/*     background:#EDD9D9; */
    background: #dc5757;
    text-align: center;
    line-height: 23px;
    color:#fff;
    transition: .2s;
}