li{
  list-style: none;
}
/* 表單 */
.shopping_form{
    background: #fff;
    box-shadow: 1px 1px 1px 4px  rgba(221, 221, 221, 0.1);
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    padding: 50px 30px;
}
.shopping_title{
    font:1.6rem bold black;
    letter-spacing: 2px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 60px;
}
.formBox div{
    /* width: 66%; */
    margin: 0 auto;
    margin-bottom: 1rem;
}
.formBox div input{
    outline: none;
}

/* 選單 */
.deliveryBox{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.select{
	margin-bottom: 30px;
}


/* 按鈕 */
.shopBtn{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
  }
  .confirmBtn input, .btn input{
  	border:none;
   	display:inline-block;
    width: 7rem;
    padding:10px;
    line-height:24px;
    background-color: #C39C9C;
    color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
  } 
  #inputAllBtn{
  	width: 7rem;
    padding:10px;
  }
  .confirmBtn input:hover,.btn input:hover{
  background: #d2b3b3;
  color: #555555;
  }
  /*錯誤訊息樣式*/
span.error:first-child(){
	margin-left:0;
}
span.error{
	letter-spacing: 1px;
    margin-top: 5px;
    display: inline-block;
    color: rgb(0 117 197);
    margin-left:30%;
}
/*進度條*/
.chart_box{
  margin-top: 250px;
}
li.circle_box{
	width: 60px;
    height: 60px;
    background:#aaa;
    border-radius: 50%;;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: #eee;
}
ul.shop_list{
  position: relative;
}
ul.shop_list li+li{
  margin-left: 100px;
}
ul.shop_list .step2::before{
  content: '';
    width: 88px;
    height: 1px;
    left: 25%;
    top: 50%;
    position: absolute;
    background: #ccc;
    vertical-align: middle;
}
ul.shop_list .step3::before{
  content: '';
    width: 88px;
    height: 1px;
    left: 63%;
    top: 50%;
    position: absolute;
    background: #ccc;
    vertical-align: middle;
}
.chart_name{
	display: inline-block;
    color: #444;
    font-size: 13px;
    letter-spacing: 1px;
}
ul.shop_list .step1, ul.shop_list  .step3{
  color: #777;
  background: white;
  border: 1px solid #d2d2d2;
}

/* loading 樣式 */
#image_loading{
  z-index: 9999;
  position: fixed;
  width: 80px;
  top: 50%;
  left: 50%;
  display: none;
}